    body{
    color:black;
    background: white
    }
    
    h1
    {
        font-family: 'Shippori Mincho B1', serif;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 50px;
    }
    
    .stat
    {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 30px;
    }
    
    h2
    {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 25px;
        position:absolute;
        top: -1800px;
    
    }
    
    .bio
    {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 20px;
        position:absolute;
        top: 1000px;
    
    }
    
    .hat
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: relative;
        top: 20px;
        
    }
    
    .michelle
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -625px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .malala
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -1850px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .simone
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -2600px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .alexandria
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -3200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .emma
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -4200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }
    .françoise
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -5200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .amal
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -6200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }
    .claudie
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -7200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .marie
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -8200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .kamala
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -9200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .virginie
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -10200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }

    .wangari
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: absolute;
        top: 230px;
        left: -11200px;
        z-index: -1;
        animation-fill-mode: forwards;
    }
    
    
    
    
    
    