    body{
    color:black;
    background: rgb(240, 199, 199)
    }
    
    h1
    {
        font-family: 'Shippori Mincho B1', serif;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 50px;
    }
    
    .stat
    {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 30px;
    }
    

    .mySlides 
    {
        display:none;
        height:430px;
        margin-left:75px;  
    }

    .container
    {
        max-width:500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -475px;

    }


    .name
    {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 25px;
        font-weight: 1000;
    }
    
    .bio
    {
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        /* width:500px; */
        text-align: center;
    }
    
    .hat
    {
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 375px;
        z-index: 20;
        
    }
    
    